# Build
build/
cmake-build-*/
out/

# JUCE
JuceLibraryCode/
*.vst3
*.component
*.au

# IDE
.vs/
.vscode/
*.xcodeproj/
*.xcworkspace/
.idea/
*.sln
*.vcxproj*

# OS
.DS_Store
Thumbs.db

# Compiled objects
*.o
*.obj
*.d
Docs/.Rhistory
